.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }



header {
    width: 100vw;
    background-color: rgba(169, 226, 215, 0.64);
  }
  
  main {
    flex: 1;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
}

footer {
    width: 100%;
    background-color: rgba(169, 226, 215, 0.64);
  }